In [70]:
from itertools import groupby

import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
df = pd.read_json("fashion_boutique_dataset.json")
df.head(5)

,product_id,category,brand,season,size,color,original_price,markdown_percentage,current_price,purchase_date,stock_quantity,customer_rating,is_returned,return_reason
0,FB000001,Outerwear,Zara,Spring,XL,Red,196.01,0.0,196.01,2025-07-05T00:00:00.000,37,3.0,False,None
1,FB000002,Tops,Uniqlo,Winter,L,Pink,119.64,0.0,119.64,2025-08-06T00:00:00.000,2,2.5,False,None
2,FB000003,Accessories,Uniqlo,Winter,None,Black,33.80,0.0,33.80,2025-08-06T00:00:00.000,22,4.3,False,None
3,FB000004,Shoes,Uniqlo,Spring,XL,Black,75.36,0.0,75.36,2025-07-07T00:00:00.000,48,2.6,False,None
4,FB000005,Tops,Banana Republic,Winter,XL,Black,105.02,0.0,105.02,2025-08-06T00:00:00.000,10,NaN,False,None

In [71]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2176 entries, 0 to 2175
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   product_id           2176 non-null   object
 1   category             2176 non-null   object
 2   brand                2176 non-null   object
 3   season               2176 non-null   object
 4   size                 1685 non-null   object
 5   color                2176 non-null   object
 6   original_price       2176 non-null   float64
 7   markdown_percentage  2176 non-null   float64
 8   current_price        2176 non-null   float64
 9   purchase_date        2176 non-null   object
 10  stock_quantity       2176 non-null   int64
 11  customer_rating      1814 non-null   float64
 12  is_returned          2176 non-null   bool
 13  return_reason        320 non-null    object
dtypes: bool(1), float64(4), int64(1), object(8)
memory usage: 223.3+ KB

In [72]:
df['size'].fillna('-', inplace=True)
df['customer_rating'].fillna('-', inplace=True)

C:\Users\User\AppData\Local\Temp\ipykernel_7948\4169892949.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['size'].fillna('-', inplace=True)
C:\Users\User\AppData\Local\Temp\ipykernel_7948\4169892949.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['customer_rating'].fillna('-', inplace=True)
C:\Users\User\AppData\Local\Temp\ipykernel_7948\4169892949.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df['customer_rating'].fillna('-', inplace=True)

In [73]:
#Mencari data size pada uniqlo karena null, siapa tau bisa dijadikan acuan jika dilihat dari harga, colour, dan season

df.loc[
    (df['category'] == 'Accessories') & (df['brand'] == 'Uniqlo') & (df['season'] == 'Winter'),
    ['category', 'brand', 'season', 'size', 'color', 'original_price']
]

         category   brand  season size  color  original_price
2     Accessories  Uniqlo  Winter    -  Black           33.80
124   Accessories  Uniqlo  Winter    -  Brown           38.89
279   Accessories  Uniqlo  Winter    -  White           46.59
604   Accessories  Uniqlo  Winter    -  Black           66.60
706   Accessories  Uniqlo  Winter    -   Blue           30.52
774   Accessories  Uniqlo  Winter    -    Red           75.93
1075  Accessories  Uniqlo  Winter    -  Black           33.80
1527  Accessories  Uniqlo  Winter    -    Red           49.89
1587  Accessories  Uniqlo  Winter    -   Navy           65.97
1895  Accessories  Uniqlo  Winter    -   Blue           41.52

In [74]:
df.groupby('category')['current_price'].sum()

category
Accessories    17393.88
Bottoms        24079.39
Dresses        31028.35
Outerwear      48672.81
Shoes          41152.78
Tops           23719.91
Name: current_price, dtype: float64

In [75]:
df.groupby('brand')['current_price'].sum()

brand
Ann Taylor         21685.29
Banana Republic    25556.00
Forever21          20061.70
Gap                18986.28
H&M                24283.71
Mango              25100.04
Uniqlo             23830.51
Zara               26543.59
Name: current_price, dtype: float64

In [76]:
df.groupby('brand')['customer_rating'].mean()

TypeError: agg function failed [how->mean,dtype->object]

In [53]:
df.groupby('brand')['stock_quantity'].sum()

brand
Ann Taylor         6664
Banana Republic    6954
Forever21          6428
Gap                6110
H&M                6558
Mango              7198
Uniqlo             6530
Zara               7823
Name: stock_quantity, dtype: int64

In [54]:
df.groupby('brand')['brand'].count()

brand
Ann Taylor         257
Banana Republic    285
Forever21          250
Gap                244
H&M                283
Mango              284
Uniqlo             260
Zara               313
Name: brand, dtype: int64